@import "tailwindcss";

:root {
  --primary-color: #f2f4f7;
  --secondary-color: #0866ff;
  --text-color: #080809;
  --icon-bg-color: #f0f2f5;
}

.bg-primary-color {
  background-color: var(--primary-color);
}

.text-text-color {
  color: var(--text-color);
}

.bg-secondary-color {
  background-color: var(--secondary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.icon-bg-color {
  background-color: var(--icon-bg-color);
}
  
label {
  @apply text-sm font-medium text-gray-700;
}

form input {
  @apply mt-1 block w-full rounded-md border-gray-300 shadow-sm outline-0 p-2;
}

button {
  @apply cursor-pointer 
}

.mka-center{
  @apply flex items-center justify-center
}

input {
  outline: none !important;
}